@model CartSummaryViewModel

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @if (0 >= Model.Cart.Total)
    {
        <a class="dropdown-item">
            <span class="text-danger">There are no items in your cart!</span>
        </a>
    }
    else
    {
        foreach (var cartLine in Model.Cart.CartLines)
        {
            <a class="dropdown-item" href="#">
                @cartLine.Product.ProductName (@cartLine.Quantity)
            </a>
        }

        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
            Total (Dollar) : @Model.Cart.Total $
        </a>

    }
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="Cart" asp-action="List">Go to cart details</a>
</div>