<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Shop Online</title>

    <!-- Node Modules -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/node_modules/font-awesome/js/all.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-auto mx-2" asp-controller="Product" asp-action="Index">
            <img src="~/img/logo.png" width="50" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Northwind
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="SignIn">
                        <i class="fa fa-user-secret mr-2" aria-hidden="true"></i>Admin
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i> Basket
                    </a>
                    @await Component.InvokeAsync("CartSummary")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-md-2">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-md-12">Footer</div>
</body>
</html>