@model UserDetailsViewModel

<a class="dropdown-item">Welcome! @Model.UserName</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Log Off</a>