@model ProductViewModel
@{
    ViewData["Title"] = "Product Add";
}

<h2>Add a product</h2>

<form asp-controller="Product" asp-action="Add" method="post">
    @await Html.PartialAsync("_AddOrUpdate", Model)
    <input type="submit" value="Add Product" class="btn btn-sm btn-success" />
</form>

