@model ProductViewModel
@{
    ViewData["Title"] = "Product Add";
}

<h4 class="my-3">Add a product</h4>

<form asp-controller="Product" asp-action="Add" method="post">
    @await Html.PartialAsync("_AddOrUpdate", Model)
    <input type="submit" value="Add Product" class="btn btn-sm btn-success" />
</form>

