@model ProductViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit a product</h2>

<form asp-controller="Product" asp-action="Edit" method="post">
    @await Html.PartialAsync("_AddOrUpdate", Model)
    <input type="submit" value="Update Product" class="btn btn-sm btn-success" />
</form>